
 @media only screen and (min-width: 1000px) and (max-width: 10000px) and (orientation : portrait) {
    .form{
        margin-left: "500px !important";
        padding-right: "-200px !important";
    }       

}
@media only screen and (max-width: 1000px) {
    .form{
        margin-left: "500px !important";
        padding-right: "-200px !important";
    }
    .form-item{
        margin-left: "80px";
        padding-right: "-30px !important";
        width:"200% !important";
    }
    .input{
        width:"200% !important";
    }
    .forgotpassword{
        position: relative;
        bottom: 60px;
        left: 0px;
        text-align: center;
    }
  }
  .forgotpassword{
      position: relative;
      bottom: 60px;
      right: 80px;
      text-align: center;
  }